<h1>Brand</h1>

<% if @brands.blank? %>
    <p>There are not any Brand currently in the system.</p>

<% else %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% @brands.each do |brand| %>
          <tr>
            <td><%= brand.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>