<% columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => nil, :class => "last"}] %>
<h1>Category</h1>

<% if @categories.blank? %>
    <p>There are not any Category currently in the system.</p>

<% else %>

    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>