<% if @users.blank? %>
    <p>There are not any user currently in the system.</p>
<% end %>
<h1>Listing Users</h1>


<table >
  <tr>

    <th>Email</th>
    <th>Show</th>
    <th>Destroy</th>
  </tr>


  <% @users.each do |user| %>

      <tr>

                <td><%= user.email %></td>
        <td> <%= link_to 'Show', admin_user_path(user)  %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>

      </tr>
  <% end %>
</table>


<br />
